{% extends "GouzzyGamesCollectionBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - liste des jeux{% endblock %}
{% block body %}
    <div class="container">
        {% set genericGame = 'noGame' %}
        {% for game in games %}        
            {% if game.getGenericGame().getName() != genericGame %}
                {% set genericGame = game.getGenericGame().getName() %}
                <div class="console-title">{{ genericGame }}</div>
            {% endif %}
            <div class="game">
                <div class="game-title">
                    <img src="{{ asset('img/games/' ~ game.getMasterPicture()) }}" width="100" height="100" /> {{ game.getName() }}</span>
                </div>
            </div>
        {% else %}
            <p>Pas de Jeux</p>
        {% endfor %}
    </div>
{% endblock %}